h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
    font-family: Helvetica;
    font-size: 100px;
    color: khaki;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;;
}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#frames {
    background-color: lightcoral;
}

#paints {
    background-color: skyblue;
}